# Explainability

The goals of this notebooks are as follows:
- Explain what the model learned
- Show where and why it fails
- Connect failures to domain semantics

## 1. Extract Top Words Per Class

Because we used a **Linear SVM**, every word has a **weight per class**.

**What this means:**

- Postivie weight -> pushes prediction toward that class
- Negative weight -> pushes prediction away

In [2]:
import joblib
import numpy as np
import pandas as pd

LABELS = ['World', 'Sports', 'Business', 'Sci/Tech']

model = joblib.load('../models/text_clf.joblib')

tfidf = model.named_steps['tfidf']
clf = model.named_steps['clf']

feature_names = np.array(tfidf.get_feature_names_out())
coef = clf.coef_    # shape: (n_classes, n_features)


def top_features_for_class(class_idx, top_n=20):
    top_pos = np.argsort(coef[class_idx])[-top_n:]

    return pd.DataFrame({
        'token': feature_names[top_pos],
        'weight': coef[class_idx][top_pos]
    }).sort_values('weight', ascending=False)


for i, label in enumerate(LABELS):
    print(f'\n=== Top tokens for class {label} ===')
    display(top_features_for_class(i))

/opt/anaconda3/lib/python3.13/site-packages/sklearn/base.py:380: InconsistentVersionWarning: Trying to unpickle estimator TfidfTransformer from version 1.8.0 when using version 1.6.1. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
/opt/anaconda3/lib/python3.13/site-packages/sklearn/base.py:380: InconsistentVersionWarning: Trying to unpickle estimator TfidfVectorizer from version 1.8.0 when using version 1.6.1. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
/opt/anaconda3/lib/python3.13/site-packages/sklearn/base.py:380: InconsistentVersionWarning: Trying to unpickle estimator LinearSVC from version 1.8.0 when using version 1.6.1. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(
/opt/anaconda3/lib/python3.13/site-packages/sklearn/base.py:380: InconsistentVersionWarning: Trying to unpickle estimator Pipeline from version 1.8.0 when using version 1.6.1. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

=== Top tokens for class World ===

             token    weight
19            iraq  3.534139
18             afp  2.854504
17  canadian press  2.836131
16           iraqi  2.673732
15            iran  2.415589
14         nuclear  2.383640
13     york stocks  2.361854
12       president  2.333672
11          arafat  2.313761
10         afp afp  2.283628
9           troops  2.209862
8           killed  2.188082
7      palestinian  2.186019
6         military  2.180218
5           darfur  2.155825
4          hostage  2.147387
3    athens greece  2.111987
2           israel  2.089419
1      afghanistan  2.040260
0        elections  2.040258

=== Top tokens for class Sports ===

           token    weight
19         coach  3.382348
18           cup  2.912591
17          team  2.869023
16        sports  2.661308
15        season  2.540753
14        league  2.492252
13       players  2.457468
12      baseball  2.447412
11       olympic  2.386987
10           nba  2.380016
9        stadium  2.205347
8         nascar  2.150014
7            nhl  2.132339
6         athens  2.067972
5        formula  2.047156
4    quarterback  2.035577
3          teams  2.026744
2   championship  2.006504
1            nfl  1.981674
0       champion  1.960053

=== Top tokens for class Business ===

          token    weight
19       hellip  2.902799
18      economy  2.667554
17          tax  2.462670
16          oil  2.394382
15         bank  2.348710
14     airlines  2.238940
13    insurance  2.216638
12        enron  2.164013
11        stock  2.080233
10  halliburton  2.077205
9      economic  2.035170
8      retailer  1.932177
7     retailers  1.931539
6        dollar  1.927081
5       airline  1.922446
4       billion  1.863846
3    investment  1.861945
2     investors  1.848066
1       airways  1.837369
0        shares  1.825874

=== Top tokens for class Sci/Tech ===

              token    weight
19            space  3.449374
18             nasa  3.292242
17         internet  3.218363
16       scientists  3.174407
15         software  2.767175
14            linux  2.584665
13              web  2.522223
12            apple  2.502676
11           online  2.324692
10      researchers  2.290024
9              spam  2.271192
8        technology  2.245644
7             study  2.240016
6         microsoft  2.224896
5           science  2.201411
4                hp  2.168496
3   reuters reuters  2.147074
2          computer  2.039093
1            arctic  1.963708
0               dvd  1.928930

## 2. Misclassification Analysis

This section covers any errors the model could make during classification. For instance, a token might overlap and might be wrongly classified. This occurs frequently between the "Busness" and "Sci/Tech" classes because of shared vocabulary between those two classes.

In [ ]:
from datasets import load_dataset
from sklearn.model_selection import train_test_split

ds = load_dataset('ag_news')

X = ds['train']['text']
y = ds['train']['label']

X_train, X_hold, y_train, y_hold = train_test_split(
    X, y,
    test_size=0.15,
    random_state=42,
    stratify=y
)

preds = model.predict(X_hold)

errors = pd.DataFrame({
    'text': X_hold,
    'true': y_hold,
    'predicted': preds
})

errors = errors[errors.true != errors.predicted]

errors['true_label'] = errors.true.map(lambda x: LABELS[x])
errors['pred_label'] = errors.predicted.map(lambda x: LABELS[x])

errors.sample(10)