# Feature Engineering and Baseline Models

This notebook performs the following tasks:
- Time-aware features (lags and rolling stats)
- Proper train/validation split
- One or more baseline models to beat
- Clear validation metrics

## 1. Import Modules and Configure Notebook

In [1]:
import sys
from pathlib import Path

# Add the project root to the system path so that local module imports
# do not throw exceptions
PROJECT_ROOT = Path('..').resolve()

if str(PROJECT_ROOT) not in sys.path:
    sys.path.insert(0, str(PROJECT_ROOT))

In [2]:
import pandas as pd
import numpy as np

# Local imports
from src.data import load_walmart_data

In [11]:
DATA_DIR = Path('..') / 'data'

stores, features, sales = load_walmart_data(DATA_DIR)

# Pre-merge integrity check
assert sales[['Store', 'Date']].duplicated().sum() == 0
assert features[['Store', 'Date', 'IsHoliday']].duplicated().sum() == 0
assert stores[['Store']].duplicated().sum() == 0

# Merge the sales ad features dataframes
df = sales.merge(
    features, 
    on=['Store', 'Date', 'IsHoliday'],
    how='left',
    validate='many_to_one'
)

df = df.merge(
    stores,
    on='Store',
    how='left',
    validate='many_to_one'
)

# Time-series safety
df = df.sort_values(['Store', 'Date']).reset_index(drop=True)
df.head()

,Store,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,CPI,Unemployment,Type,Size
0,1,2010-02-05,1643690.90,0,42.31,2.572,211.096358,8.106,A,151315
1,1,2010-02-12,1641957.44,1,38.51,2.548,211.242170,8.106,A,151315
2,1,2010-02-19,1611968.17,0,39.93,2.514,211.289143,8.106,A,151315
3,1,2010-02-26,1409727.59,0,46.63,2.561,211.319643,8.106,A,151315
4,1,2010-03-05,1554806.68,0,46.50,2.625,211.350143,8.106,A,151315

## 2. Define the Forecasting Setup

Our forecasting unit contains two setups:
- Weekly sales
- Per store sales (global model, not er-store models yet)

We are building a global regression model that learns across all stores.

## 3. Sort and Index (Time-Series Safety Check)

Time-series features assume ordering; so let's order our data accordingly.

In [12]:
df = df.sort_values(['Store', 'Date']).reset_index(drop = True)
df.head()

,Store,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,CPI,Unemployment,Type,Size
0,1,2010-02-05,1643690.90,0,42.31,2.572,211.096358,8.106,A,151315
1,1,2010-02-12,1641957.44,1,38.51,2.548,211.242170,8.106,A,151315
2,1,2010-02-19,1611968.17,0,39.93,2.514,211.289143,8.106,A,151315
3,1,2010-02-26,1409727.59,0,46.63,2.561,211.319643,8.106,A,151315
4,1,2010-03-05,1554806.68,0,46.50,2.625,211.350143,8.106,A,151315

## 4. Create Lag Features (Core Signal)

### Why lags matter
Retail demand is highly autocorrelated:
- Last week matters
- Last month matters
- Last year (same season) matters

Let's start with a simple yet strong baseline

In [13]:
LAGS = [1, 2, 4, 8]

for lag in LAGS:
    df[f'sales_lag_{lag}'] = df.groupby('Store')['Weekly_Sales'].shift(lag)
df.head()

,Store,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,CPI,Unemployment,Type,Size,sales_lag_1,sales_lag_2,sales_lag_4,sales_lag_8
0,1,2010-02-05,1643690.90,0,42.31,2.572,211.096358,8.106,A,151315,NaN,NaN,NaN,NaN
1,1,2010-02-12,1641957.44,1,38.51,2.548,211.242170,8.106,A,151315,1643690.90,NaN,NaN,NaN
2,1,2010-02-19,1611968.17,0,39.93,2.514,211.289143,8.106,A,151315,1641957.44,1643690.90,NaN,NaN
3,1,2010-02-26,1409727.59,0,46.63,2.561,211.319643,8.106,A,151315,1611968.17,1641957.44,NaN,NaN
4,1,2010-03-05,1554806.68,0,46.50,2.625,211.350143,8.106,A,151315,1409727.59,1611968.17,1643690.9,NaN

## 5. Create Rolling Statistics (Trend and Volatility)

Rolling features capture:
- Local trend
- Demand stability

In [14]:
WINDOWS = [4, 8]

for window in WINDOWS:
    df[f'sales_roll_mean_{window}'] = (
        df.groupby('Store')['Weekly_Sales']
        .shift(1)
        .rolling(window)
        .mean()
    )

    df[f'sales_roll_std_{window}'] = (
        df.groupby('Store')['Weekly_Sales']
        .shift(1)
        .rolling(window)
        .std()
    )

**Note**
The `shift(1)` method prevents leakage.

## 6. Create Calendar Features (Cheap, High Value)

The calendar features help capture the following:
- Seasonality
- Long-term trends

In [16]:
df['week_of_year'] = df['Date'].dt.isocalendar().week.astype(int)
df['year'] = df['Date'].dt.year

## 7. Drop Rows with Missing Lag Features

Lags allow the model to **look at the past** without **peeking into the future**. This means that at Week 2, the model sees sales from Week 1, and so on. This also means that at Week 1 there is no previous week yet; so the column will have a value of `NaN`. This is expected and correct, and we need to drop those values.

In [20]:
feature_columns = [
    'IsHoliday',
    'Temperature',
    'Fuel_Price',
    'CPI',
    'Unemployment',
    'Size',
    'week_of_year',
    'year'
] + \
[f'sales_lag_{lag}' for lag in LAGS] + \
[f'sales_roll_mean_{window}' for window in WINDOWS] + \
[f'sales_roll_std_{window}' for window in WINDOWS]

In [22]:
df_model = df.dropna(subset = feature_columns)
df_model.head()

,Store,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,CPI,Unemployment,Type,Size,sales_lag_1,sales_lag_2,sales_lag_4,sales_lag_8,sales_roll_mean_4,sales_roll_std_4,sales_roll_mean_8,sales_roll_std_8,week_of_year,year
8,1,2010-04-02,1594968.28,0,62.27,2.719,210.820450,7.808,A,151315,1404429.92,1472515.79,1554806.68,1643690.90,1.467823e+06,64308.381016,1.522330e+06,102848.040932,13,2010
9,1,2010-04-09,1545418.53,0,65.86,2.770,210.622857,7.808,A,151315,1594968.28,1404429.92,1439541.59,1641957.44,1.477864e+06,82871.762296,1.516239e+06,95838.501238,14,2010
10,1,2010-04-16,1466058.28,0,66.32,2.808,210.488700,7.808,A,151315,1545418.53,1594968.28,1472515.79,1611968.17,1.504333e+06,83458.043354,1.504172e+06,82960.025155,15,2010
11,1,2010-04-23,1391256.12,0,64.84,2.795,210.439123,7.808,A,151315,1466058.28,1545418.53,1404429.92,1409727.59,1.502719e+06,84336.491036,1.485933e+06,71061.351625,16,2010
12,1,2010-04-30,1425100.71,0,67.41,2.780,210.389546,7.808,A,151315,1391256.12,1466058.28,1594968.28,1554806.68,1.499425e+06,89550.298266,1.483624e+06,74125.202809,17,2010

## 8. Perform the Train/Validation Split (Time-Aware)

**Rule: NO random split**

In [25]:
split_date = df_model['Date'].quantile(0.8)

train_df = df_model[df_model['Date'] <= split_date]
val_df = df_model[df_model['Date'] > split_date]

X_train = train_df[feature_columns]
y_train = train_df['Weekly_Sales']

X_val = val_df[feature_columns]
y_val = val_df['Weekly_Sales']

## 9. Create Model # 1 - Naive Lag-1 Predictor

A Naive Lag-1 Predictor is a baseline model that predicts weekly sales using the previous weekâ€™s observed sales `(t-1)` for the same store. It serves as a simple persistence model that establishes a minimum performance benchmark for more complex forecasting approaches. Any predictive model should outperform this baseline to demonstrate added value.

In [36]:
y_pred_naive = val_df['sales_lag_1']

mae_naive = (y_val - y_pred_naive).abs().mean()
rmse_naive = ((y_val - y_pred_naive) ** 2).mean() ** 0.5

print(f'mae_naive: {mae_naive:.2f}, rmse_naive: {rmse_naive:.2f}')

mae_naive: 50361.57, rmse_naive: 75313.17

## 10 Create Model #2 - Linear Regression

This is a strong, interpretable baseline. The expectations are that it should beat the Naive Lag-1 model while still struggling with peaks (right skew).

In [35]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error

lr = LinearRegression()
lr.fit(X_train, y_train)

y_pred_lr = lr.predict(X_val)

mae_lr = mean_absolute_error(y_val, y_pred_lr)
rmse_lr = np.sqrt(mean_squared_error(y_val, y_pred_lr))

print(f'mae_lr: {mae_lr:.2f}, rmse_lr: {rmse_lr:.2f}')

mae_lr: 57472.80, rmse_lr: 77680.62

## 11. (Optional) Inspect the Coefficients

Inspecting coefficients often reveals:
- Lag features dominate
- Holidays have positive impact
- Store size matters structurally

In [37]:
coef_df = pd.Series(lr.coef_, index=feature_columns).sort_values(key=abs, ascending=False)

coef_df.head(10)

IsHoliday            23146.607050
Fuel_Price           23144.228859
year                 -9820.784253
Unemployment          4033.891480
week_of_year          2827.766258
Temperature          -1598.177617
CPI                    155.613190
sales_roll_mean_4        1.581399
sales_roll_std_4        -1.532209
sales_roll_mean_8       -1.127917
dtype: float64

## 12. Notes and Takeaways

- Lag features are the strongest predictors of sales
- The Naive baseline sets a meaningful floor
- The Linear regression model improves performance
- Nonlinear models are likely to help next